#header {
    border-style: solid;
    border-width: 1px;
    border-color: #7ABAFF;
    padding: 15px; 
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: 65%;
    margin: auto;
}

#title {
    font-size: 30px;
    padding: 5px;
}

#subtitle {
    font-size: 15px;
}

#colorCollection {
    margin: auto;
    overflow: hidden;
}

.colorItem {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    float: left;
    margin: 15px;
    height: 200px;
    width: 200px;
    text-align: center;
    line-height: 200px;
}